spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/DebarghyaSikder/flight-booking-config-repo
          default-label: main
          clone-on-start: true

server:
  port: 8888
